<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <title>Powertowers</title>
  </head>
  <body>

    <div class="container">
      <div id = 'header' class="jumbotron">
      <h1 class="display-6" style="">POWER TOWERS</h1>
      <h2>Towering Power Solutions</h2>
</div>
</div>

    <!--Navigation Bar-->


    {% block body_block %}
    {% endblock %}

    <div id='footer' class ="container" style="">
      <p>Certified under government of India(Form GST REG-06)</p>
      <p><a style="color:grey"; href="{% url 'index' %}">Home</a> <a style="color:black"; href="{% url 'pt1:contact' %}">Contact</a></p>
      </div>
    <!-- Jquery,Popper.js,javaScript-->
    <div class="container">
      <img src="{% static 'images/scorpio.png' %}" alt="Scorpion">
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </body>
</html>
