<!DOCTYPE html>
{% extends "pt1/base.html" %}
{% load staticfiles %}
  {% block body_block %}

  <div id='cont' class="container">
    <h5>Cheif Executive :<p>K.Murugnantham</p></h5>

    <h5>Contact Numbers:</h5>

    <p>8012758518</p>
    <p>8675535508</p>

    <h4>Email ID: </h4><p>powertowers75@gmail.com</p>

  </div>


  <div id='form' class="container">
    <div class="mt-6 p-5 bg-white rounded-2 box-shadow-extra-large border">
      <div class="mb-3 f2-light lh-condensed">

        <form method="POST">
      <h5>Or please write here, We will get back to you..</h5>
        {{form.as_p}}
        {% csrf_token %}
        <input style="color:black" type="Submit" class='btn btn-primary'  value="submit">
    </form>
      </div>
  </div>
</div>


{% endblock %}
